/Specialization/Sprint2/Data
/Specialization/BasicNotionsSQL/Data
/Specialization/TableManiputaltionSQL/Data
/Specialization/DatabaseCreationSQL/Data
/Specialization/MongodbQueries/Data
Data/How_to_choose_the_right_chart_for_your_data.png
Pildoras/Ecuacion_de_Ventas.pdf
Data/VisualitzacionsPowerBi.pdf
Specialization/PythonBasics/Data/historic partits.txt
Specialization/PythonBasics/Data/tu me quieres blanca.txt
/Specialization/PythonPandas/Data
Specialization/PythonVisualData/.env
